.note-page {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.note-page-header {
    display: flex;
    height: 5rem;
    border-bottom: 5px solid #0d0d0d;
    flex-direction: row;
    padding: 0 1rem;
    align-items: center;
}

.note-page-header-title {
    color: #0d0d0d;
    font-size: 42px;
}

.note-page-header-back-button-box {
    display: flex;
    height: 100%;
    width: 5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
}

.note-page-header-back-button {
    height: 2rem;

    transition: 0.3s 0s;

    &:hover {
        height: 2.5rem;
    }
}

.note-page-notes-body {
    flex: 1 1;
    display: flex;
    max-height: 94vh;
}

.note-page-notes-body-selector {
    width: 33rem;
    border-right: 5px solid #0d0d0d;
    display: flex;
    flex-direction: column;
    max-height: 100%;
    overflow-y: auto;
}

.note-page-notes-body-text {
    flex: 1 1 auto;
    display: flex;
    padding: 1rem 1rem 3rem 1rem;
    font-size: 20px;
    width: 70%;
    word-break: break-all;
    overflow-y: auto;
}

.note-page-notes-body-plus-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.note-page-notes-body-plus {
    height: 3rem;

    transition: 0.3s 0s;

    &:hover {
        height: 3.5rem;
    }
}